.container {
    min-height: 100%;
    padding: 30px;
    font-family: "PT Sans";
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.item {
    font-weight: normal;
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

.mormal {
    font-weight: normal;
}